{% extends "base.html" %}

{% block content %}
<style>
    .bi-bar-chart-steps {
        color: rgb(48, 109, 156);
    }

    h3 {
        color: antiquewhite;
        text-align: center;
    }

    tr {
        color: antiquewhite;
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    /* Estilização da tabela */
    .table th,
    .table td {
        border-top: 1px solid #343a40;
        padding: 15px;
    }

    .table {
        border-collapse: separate;
        border-spacing: 0;
    }

    /* Ajustes no botão Filtrar */
    .btn-primary {
        background-color: #415c7a;
        border-color: #1a3959;
        box-shadow: 0px 4px 6px #e6dfbf;
    }

    .btn-primary:hover {
        background-color: #070600;
        border-color: #f2cb0c;
    }
</style>
<div class="container-fluid mt-4">
    <div class="card">
        <center>
            <h3>Fluxo de Caixa</h3><i class="bi bi-bar-chart-steps fs-2 "></i>
        </center>
    </div>
    <div class="card p-4 shadow-sm">
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="start_date">Data Inicial:</label>
                        {{ form.start_date }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="end_date">Data Final:</label>
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                </div>
            </div>
        </form>
        <p class="text-center"><strong>Período:</strong> {{ start_date }} a {{ end_date }}</p>
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Saldo Inicial</th>
                    <td>{{ saldo_inicial }}</td>
                </tr>
                <tr>
                    <th>Total de Entradas</th>
                    <td>{{ entradas }}</td>
                </tr>
                <tr>
                    <th>Total de Saídas</th>
                    <td>{{ saidas }}</td>
                </tr>
                <tr>
                    <th>Saldo Final</th>
                    <td>{{ saldo_final }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}