{% extends "base.html" %}
{% block title %}
Fluxo de Caixa
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="card">
        <h3 class="text-center mb-4">Fluxo de Caixa</h3>
    </div>
    <div class="card p-4 shadow-sm">
        <form method="get" class="mb-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="start_date">Data Inicial:</label>
                        {{ form.start_date }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="end_date">Data Final:</label>
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                </div>
            </div>
        </form>
        <p class="text-center"><strong>Período:</strong> {{ start_date }} a {{ end_date }}</p>
        <table class="table table-bordered table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Saldo Inicial</th>
                    <td>{{ saldo_inicial }}</td>
                </tr>
                <tr>
                    <th>Total de Entradas <a href="{% url 'conta_a_receber_list' %}" title="Ver lista completa de entradas"><i class="bi bi-eye"></i></a></th>
                    <td>{{ entradas }}</td>
                </tr>
                <tr>
                    <th>Total de Saidas <a href="{% url 'conta_a_pagar_list' %}" title="Ver lista completa de entradas"><i class="bi bi-eye"></i></a></th>
                    <td>{{ saidas }}</td>
                </tr>
                <tr>
                    <th>Saldo Final</th>
                    <td>{{ saldo_final }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}