{% extends 'base.html' %}

{% block title %}
Detalhe de Pedidos
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row mb-2">
        <div class="col-md-12">
            <h3 class="display-8">Detalhes:</h3>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Número Pedido: {{ object.id }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">Cliente: {{ object.cliente }}</p>
            <p class="card-text">Data: {{ object.data }}</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pedido.itens.all %}
                    <tr>
                        <td>{{ item.produto }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>{{ item.preco_unitario|floatformat:2 }}</td>
                        <td>R$ {{ item.subtotal|floatformat:2 }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Nenhum item encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="text-end">
                <strong>Total de Quantidade:</strong>
                {% if total_quantidade %}
                {{ total_quantidade }}
                {% else %}
                Não disponível
                {% endif %}
            </p>

            <p class="text-end">
                <strong>Total do Pedido:</strong>
                {% if total_valor %}
                R$ {{ total_valor|floatformat:2 }}
                {% else %}
                Não disponível
                {% endif %}
            </p>


        </div>
    </div>

    <br>
    <a href="{% url 'pedidoslistas' %}" class="btn btn-secondary mt-2 float-end">
        <i class="bi bi-arrow-left"></i> Voltar à Lista
    </a>
</div>
<br><br><br>
{% endblock %}