<!-- templates/seu_app/partials/footer.html -->
<style>
    .footer {
        text-align: center;
    }

    .footer ul {
        list-style-type: none;
        padding: 0;
    }

    .footer ul li {
        display: inline;
        margin-right: 10px;
    }
    
 
    </style>


<center>

    <footer class="footer" center>

        <div class="footer-section" center>
            <h5>Redes Sociais</h5>
            <ul class="social-links">
                <li><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ '2024' }} IRON SYSTEM. Todos os direitos reservados.</p>
        </div>
    </footer>
</center>

