<!-- templates/seu_app/partials/sidebarr.html -->
{%load static%}
<style>
  .nav-link {
    color: rgb(225, 211, 193);
  }

  .nav-item {
    color: rgb(225, 211, 193);
  }

  .navbar-brand {
    color: rgb(225, 211, 193);
  }

  h5 {
    color: rgb(225, 211, 193);
    font-size: 25px;
  }

  .bi {
    color: #176078;
    /* Cor do ícone, ajuste conforme necessário */
    transition: color 0.3s;
    /* Transição suave para a cor do ícone */
  }

  .bi-currency-dollar {
    color: aquamarine;
  }

  .bi-hammer {
    color: rgb(179, 211, 196);
  }

  .bi-person-check {
    color: rgb(185, 190, 200);
  }

  .bi-graph-up {
    color: rgb(90, 144, 147);
  }

  .bi-calendar {
    color: blanchedalmond;
  }

  .bi-box-seam {
    color: rgb(158, 104, 121);
  }

  .nav-link:hover .bi {
    color: #ffc002;
    /* Cor do ícone ao passar o mouse */
  }
</style>

<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'logo.jpg' %}" style="height: 40px" />
      Iron Sistemas Inteligentes
    </a>
    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Menu
    </button>
    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          MENU PRINCIPAL
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!-- Menu de Agenda -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              AGENDA
              <i class="bi bi-calendar fs-4"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'listar_eventos' %}">EVENTOS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'eventos' %}">CALENDÁRIO</a>
              </li>
            </ul>
          </li>

          <!-- Menu de CRM -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'crm' %}" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              CRM
              <i class="bi bi-check2-square fs-4"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'crm' %}">Visão Geral</a>
              </li>
              <!-- Adicione outros itens de menu aqui se necessário -->
            </ul>
          </li>

          <!-- Menu de Entradas Fiscais -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ENTRADAS FISCAIS
              <i class="bi bi-hammer" style="font-size: 2rem"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'cfop_lista' %}">CFOP's</a>
              </li>
            </ul>
          </li>
          <!-- Menu de Financeiro -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              FINANCEIRO
              <i class="bi bi-currency-dollar fs-4"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'categorias_list' %}">CATEGORIAS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'formas_pagamento_list' %}">FORMAS DE PAGAMENTO</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'formas_recebimento_list' %}">FORMAS DE RECEBIMENTO</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'conta_a_pagar_list' %}">DOCUMENTOS A PAGAR</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'conta_a_receber_list' %}">DOCUMENTOS A RECEBER</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'fluxo_caixa' %}">FLUXO DE CAIXA</a>
              </li>
            </ul>
          </li>
          <!-- Menu de Ordens de Serviço -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ORDENS DE SERVIÇO
              <i class="bi bi-hammer" style="font-size: 2rem"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'Oslistas' %}">ORDENS DE SERVIÇO</a>
              </li>
            </ul>
          </li>

          <!-- Menu de Pedidos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PEDIDOS
              <i class="bi bi-cart-plus" style="font-size: 2rem"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'pedidoslistas' %}">PEDIDOS DE VENDA</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'enviar_emails_inativos' %}">CLIENTES ATIVOS</a>
              </li>
            </ul>
          </li>

          <!-- Menu de Pessoas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PESSOAS
              <i class="bi bi-person-check fs-4"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'pessoaslistas' %}">CADASTROS</a>
              </li>
            </ul>
          </li>

          <!-- Menu de Produtos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUTOS
              <i class="bi bi-box-seam fs-4"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'produtoslistas'%}">CADASTRO DE PRODUTOS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'gruposlistas' %}">GRUPOS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'marcaslistas' %}">MARCAS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'familiaslistas' %}">FAMILIAS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'localidadeslistas' %}">LOCALIDADES (Estoques)</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'entradaslistas' %}">ENTRADAS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'saidaslistas' %}">SAÍDAS</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'unidadeslistas' %}">UNIDADES DE MEDIDAS</a>
              </li>
            </ul>
          </li>

          <!-- Menu de Dashboards -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DASHBOARDS
              <i class="bi bi-graph-up fs-4"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'home' %}">EXTRATOS</a>
              </li>
              <li>
                <a class="dropdown-item" href="/fluxo_caixa/dash">FINANCEIRO</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'dashboard' %}">PEDIDOS</a>
              </li>

            </ul>

          </li>
          <!-- Menu de Saídas Fiscais -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SAÍDAS FISCAIS
              <i class="bi bi-hammer" style="font-size: 2rem"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <a class="dropdown-item" href="{% url 'cfop_lista' %}">CFOP's</a>
              </li>
            </ul>
          </li>
          <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>
          </li>
      </div>
    </div>
  </div>
</nav>