{% extends 'base.html' %}

{% block title %}
Excluir Os
{% endblock %}

{% block content %}

<div class="container-mt-4">
    <h3 class="display-8"> Excluir Os</h3>
</div>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem Certeza Que Deseja Excluir a Ordem <strong>{{ object.id }}</strong></p>
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger mt-3"> Excluir Ordem </button>
            </form>
        </div>  
    </div>  
    <a href="{% url 'OrdemProducao:ordem_list'%}" class="btn btn-secondary mt2">Voltar Para O'S</a>
</div>  

{% endblock %}