<!-- Nova Pessoa  -->
{% extends 'base.html' %}

{% block title %}
    Criar Pessoa
{% endblock %}

{% block content %}
<style>
    .card {
        border-width: 2px;
        border-color: #5d88b6; /* Cor da borda */
        border-style: solid;
        background: linear-gradient(#0f0f0f, #53524f); /* Gradiente de fundo */
    }
    .form-control {
        border-width: 2px;
        border-color: #5d88b6; /* Cor da borda */
        border-style: solid;   /* Estilo da borda, pode ser solid, dashed, etc. */
    }
    h3 {
        text-align: center;
        color: rgb(225, 211, 193);
    }
    .container {
        margin-top: 2rem;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Cadastrar Pessoa <i class="bi bi-person-check fs-4"></i></h3>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            </form>
        </div>
        <a href="{% url 'pessoaslistas' %}" class="btn btn-secondary mt-3">Voltar Para Pessoas</a>
    </div>
</div>
{% endblock %}
