{% extends 'base.html' %}

{% block title %}
    Cadastrar Produtos
{% endblock %}
<br>
<br>
{% block content %}
<br>
<br>
<style>
    h3{
        text-align: center;
        color: rgb(225, 211, 193);

    }
    .form {
        border-width: 2px;
        border-color: #5d88b6; /* Cor da borda */
        border-style: solid;   /* Estilo da borda, pode ser solid, dashed, etc. */
    }
    .card {
        border-width: 2px;
        border-color: #5d88b6; /* Cor da borda */
        border-style: solid;
        background: linear-gradient(#0f0f0f, #53524f); /* Gradiente de fundo */
    }
</style>
<div class="card">
<div class="container-mt-4">
    <h3 class="display-8"> Cadastrar Produtos <i class="bi bi-box"></i></h3>
</div>
</div>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"> Salvar Produto</button>
            </form>
        </div>  
    </div>  
    <br>
    <a href="{% url 'produtoslistas'%}" class="btn btn-secondary mt2">Voltar Para Lista de Produtos</a>
</div>  

{% endblock %}
